.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

button {
  margin-left: 1em;
  padding: 0.5em;
  cursor: pointer;
}

input, textarea {
  outline: none;
}

.error {
  color: #f44336;
}

.image-tip {
  font-size: small;
}